<section>
  <div class="container">
    <h2>What our Customers Say</h2>
    <p>
      Don't just take our word for it - see what our satisfied customers have to
      say
    </p>
    <ul>
      <li>
        <p>
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <img src="./img/face-man.png" alt="man" width="48" />
        <h3>Sumith Shah</h3>
        <p>Some Dude</p>
      </li>
      <li>
        <p>
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <img src="./img/face-women.png" alt="women" width="48" />
        <h3>Sumith Shah</h3>
        <p>Some Dude</p>
      </li>
    </ul>
  </div>
</section>
