<header class="header">
  <div class="container">
    <a href="" class="logo"
      ><img src="./img/logo.png" alt="logo" width="66"
    /></a>
    <nav class="navigation">
      <ul class="nav-list">
        <li><a href="" class="nav-link">Home</a></li>
        <li><a href="" class="nav-link">About</a></li>
        <li><a href="" class="nav-link">Service</a></li>
        <li><a href="" class="nav-link">Menu</a></li>
        <li><a href="" class="nav-link">Contact</a></li>
      </ul>
    </nav>
    <button class="header-btn" type="button">Order Now</button>
  </div>
</header>
