<section>
    <div class="container">
        <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero-text">
            With just a few clicks, you can have your favorite meals delivered straight to your doorstep, no matter where you are.
            Order now and enjoy a hassle-free and delicious meal from the comfort of your own home.
        </p>
        <img src="../img/salat hero.png" alt="foto salat">
        <button class="" type="button">Order Now</button>
    </div>
</section>