body {
  font-family: 'Roboto', sans-serif;
  color: var(--c-black);
  background-color: var(--c-primery-white);
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.02em;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}
