.header-container {
  background: var(--c-primery-white);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 767.98px) {
  .header-container {
    justify-content: space-between;
  }
}

.navigation {
  display: none;
  margin-left: auto;
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-link {
  display: inline-block;
  padding: 28px 0;
  color: var(--c-more-black);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--c-button-green);
}

.nav-link-current {
  font-weight: 700;
  color: var(--c-button-green);
  text-decoration: underline;
}

.header-btn {
  display: none;
  border-radius: 30px;
  background-color: var(--c-button-green);
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  border: transparent;
  color: var(--Black);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--c-yellow-background);
}

@media screen and (min-width: 768px) {
  .header-btn {
    display: inline-flex;
  }
}

.header-mob-btn {
  display: none;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: transparent;
}

.header-mob-btn-icon {
  fill: var(--c-green-icon);
}

.header-mob-btn:hover .header-mob-btn-icon,
.header-mob-btn:focus .header-mob-btn-icon {
  fill: var(--c-yelow-mein);
}

@media screen and (max-width: 767.98px) {
  .header-mob-btn {
    display: inline-flex;
  }
}

.mob-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  padding: 16px 16px 72px 16px;
  top: 0;
  right: 0;
  max-width: 170px;
  width: 100%;
  flex-shrink: 0;
  background: var(--c-button-green);
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav-link {
  color: var(--c-more-black);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.mob-nav-link-current {
  color: var(--c-black: #2c2c2c);
  font-weight: 700;
}

.mob-menu-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  background-color: transparent;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
